@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@theme {
  --breakpoint-sm: 480px;
  --breakpoint-sm-2: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1440px;

  --color-strongCyan: hsl(171, 66%, 44%);
  --color-lightBlue: hsl(233, 100%, 69%);
  --color-darkGrayishBlue: hsl(210, 10%, 33%);
  --color-grayishBlue: hsl(201, 11%, 66%);

  --font-*: initial;
  --font-sans: 'Bai Jamjuree', 'sans-serif';
}

@layer components {
  .section-container {
    @apply max-w-6xl mx-auto text-center px-10;
  }

  .section-content {
    @apply max-w-3xl mx-auto text-xl leading-9 text-center text-grayishBlue;
  }

  .button-container {
    @apply flex flex-col justify-center w-full space-y-6 text-xl text-white md:flex-row md:space-y-0 md:space-x-6;
  }

  .ficon:hover {
    filter: invert(53%) sepia(68%) saturate(434%) hue-rotate(121deg)
      brightness(101%) contrast(94%);
  }

  .btn {
    @apply p-4 px-8 rounded-full shadow-lg bg-strongCyan duration-200 hover:opacity-80 hover:-translate-y-1;
  }
}

@layer base {
  h3 {
    @apply mb-8 text-4xl font-bold text-darkGrayishBlue md:text-5xl;
  }

  h5 {
    @apply mb-2 text-2xl font-bold text-darkGrayishBlue;
  }
}
